<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<table
        style="
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0;
        border: 0;
      "
        cellpadding="0"
        cellspacing="0"
>
    <tbody>
    <tr>
        <!-- Your text -->
        <b style="font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; font-size: 20px">Drogi Pracowniku!</b><br />
        <br />
        <span style="font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;color: #4b4d4c; font-size: 15px;">
            Twój wniosek <b>{{vacation.getType().getName() ?? ""}}</b> oczekuje na akceptację.
          </span><br />
        <br />
        <b style="font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; font-size: 20px">Szczegóły:</b><br />
        <br />
        <span style="font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;color: #4b4d4c; font-size: 15px;">
            Dział: {{vacation.getEmployee().getdepartment.getName() ?? ""}}
          </span><br />
        <span style="font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;color: #4b4d4c; font-size: 15px;">
            Termin: {{ vacation.getDateFrom | date("Y-m-d") }} do {{ vacation.getDateTo | date("Y-m-d") }}
          </span><br />
        <span style="font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;color: #4b4d4c; font-size: 15px;">
            Zastępstwo: {{vacation.getReplacement().getSurname ?? ""}}
          </span><br />
        <span style="font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;color: #4b4d4c; font-size: 15px;">
            Komentarz: {{vacation.getComment() ?? ""}}
          </span><br />
        <br />
        <b style="font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;font-size: 15px;">
            Informujemy, że niniejsze powiadomienie zostało wygenerowane automatycznie, prosimy nie odpowiadać na tę wiadomość.</b><br />
        <br />
        <br />
        <br />
    </tr>
    </tbody>
</table>
</body>
</html>